<div class="col-12-12">
  <div class="tutorial-container">
    <div class="tutorial-box">
      <div class="col-12-12">
        <%= link_to(image_tag("lytening-logo-white.png", class:"sign-logo"), "#") %>
      </div>
      <p>Are you ready for an electrifying experience?<br>

      Lytening is the fastest way to view content from your friends, favorite
      companies, sports, news and more.

      But be quick!  Every post (stryke) has a 24 hour time limit.

      Does a stryke really make you "lyte" up?  Then spark it!  Any sparks you
      receive are shown by your username, so that everyone can see how great you
      really are.

      Tell us about all the stuff you love and we’ll help you get set up.</p>

      <div class="col-12-12 next-tut-box">
        <%= button_to "CONTINUE", step_two_path, class: "next-tut" %>
      </div>
    </div>
  </div>
</div>
