<div class="status-container">

  <div class="col-6-12">
    <div class="top">
      <div class="top-posts">
        <p>
          JUNIPER
        </p>
        <p>
          Mixtape Williamsburg artisan, tilde freegan cred DIY aesthetic. Truffaut flexitarian narwhal quinoa. Gastropub PBR dreamcatcher XOXO, tote bag American Apparel YOLO mlkshk next level locavore 3 wolf moon. Beard literally church-key food truck blog, drinking vinegar keffiyeh post-ironic Vice typewriter meggings sriracha trust fund bitters artisan. Master cleanse whatever bicycle rights blog XOXO, vegan letterpress quinoa distillery selfies keytar meditation narwhal.
        </p>
      </div>
    </div>
  </div>
  <div class="col-6-12">
    <div class="new">

    </div>
  </div>

</div>

heyo

<%# link_to "Your profile", user_path(current_user) %>
