<div class="status-container">

  <div class="col-6-12">
    <div class="top">
      <div class="top-posts">
        
      </div>
    </div>
  </div>
  <div class="col-6-12">
    <div class="new">

    </div>
  </div>

</div>

heyo

<%# link_to "Your profile", user_path(current_user) %>
