<% content_for :toggle_top_new do %>
  <%= link_to @navbar_title, @navbar_url %>
<% end %>
<div class="col-12-12 mobile-sign">

  <div class="col-6-12 left-sign">
    <div class="stryke-sign-top-mobile">Click for Top Strykes</div>
    <div class="stryke-sign">Top Strykes</div>

  </div>
  <div class="col-6-12 right-sign">
    <div class="stryke-sign-new-mobile selected">Looking at New Strykes</div>
    <div class="stryke-sign">New Strykes</div>

  </div>

</div>

<div class="col-12-12 main-con">

  <div class="bg-no-status">
    <div class="status-container">
    <!-- Hot Strykes -->
      <div class="col-6-12">

        <div class="top hide" id="top">
          <%= render partial: @strykes_hot, locals: {top_class: 'top-status'} %>
        </div>
      </div>

    <!-- New Strykes -->

      <div class="col-6-12">
        <div class="new">
          <%= render partial: @strykes_new, locals: {top_class: 'new-status'} %>
        </div>
      </div>
    </div>

    <div class="f-right">
      <img src="assets/up-arrow.png" class='back-to-top'>
    </div>
    <div class="col-12-12">

    <%= link_to(all_path) do %>
      <div class="view-public">
        Click to see the public feed
      </div>
    <% end %>
    </div>

</div>
