<div class="col-12-12">
  <div class="tutorial-container">
    <div class="tutorial-box">
      <div class="col-12-12">
        <%= link_to(image_tag("lytening-logo-white.png", class:"sign-logo"), "#") %>
      </div>
      <p>Are you ready for an electrifying experience?<br>

      Lytening is a fast and competetive way to view content from your friends, favorite
      bands, sports, news and more.

      Every post (or as we like to call it "stryke") has a 24 hour time limit and you only
      get one to post at a time.

      Do you see a post that piqued an interest or you enjoyed? Then spark it.
      A spark is your way of saying you liked/upvoted/enjoyed a user's post, and all their sparks recieved are shown under their name, so that
      everyone can see how clever they really are.

      Tell us about all the stuff you love and we’ll help you get set up.</p>

      <div class="col-12-12 next-tut-box">
        <%= button_to "CONTINUE", setup_path(params[:id]), :method => :post, class: "next-tut" %>
      </div>
    </div>
  </div>
</div>
