$red: #ee3a3e;
$white: #f2eeeb;
$grey: #d8d7d2;
$peach: #f9ab84;
$black: #313842;
$lime: #e9ecd7;
$beige: #e3dad3;

$yellow: #F2F4D4;
// Top
$blue1: #21ABC3;
$blue2: #4586A3;
$purple1: #526488;
$purple2: #574874;
//New
$green1: #50C0AF;
$green2: #49B6B1;
$teal1: #40ADB4;
$teal2: #36A5B6;
