.comment {
    // width:100%;
}
.comment-box{
  margin: 0 0 0 0;
}
.comments {
    // width:100%;
    height: 100%;
    color: $teal2
}

.comments div {
    // width:100%;
}
.comments .header {
    text-align:right;
    cursor: pointer;
    color: $white;
}
.comments .content {
    background-color: rgba(242,244,212,1);
    display: none;
    padding: 15px 40px 15px 40px;
    margin: 10% 0 0 0;
    border-style: solid;
    border-width: 5px;
    border-color: $blue2;
}

.form{
  margin: 10% 0 0 0;
}

#comment_body{
  width:80%;
  height: 40px;
  font-size: 15px;
  margin: 0;
  padding: 0 0 0 10px;
  color: $yellow;
  background-color: $teal1;
  border-color: $teal1;
  cursor: text;
  overflow: visible;
}

#comment_body:focus{
  outline: none;
}
input.btn:hover{
  background-color: $blue2;
}

input.btn{
  width:18%;
  height: 40px;
  color: $white;
  color: $yellow;
  background-color: $teal1;
  border-color: $teal1;
  font-size: 15px;
  cursor: pointer;
  padding: 0 0 0 0;
}

input:focus{
  outline: none;
}

.comment-split{
  border-color: $teal1;
  opacity: .2;
}

.comment-header{
  text-decoration: none;
  color: $blue2;
}

.comment-header:visited{
  text-decoration: none;
  color: $teal2;
}
.comment-thumb{
  float: left;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 600px) {
  padding: 15px 20px 15px 20px;

}
