@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

footer {
  position:relative;
  width:100%;
  height:50px;
  z-index: 10;
  // bottom: 0;
  // background-color: $blue2;
  @include box-shadow(1px 0px 5px 0px  rgba(0, 0, 0, 0.5));
}

.foot {
  width:100%;
  height: 50px;
  padding: 6px 2% 0 2%;
  background-color: $yellow;
  @include box-shadow(1px 0px 5px 0px  rgba(0, 0, 0, 0.5));

}

.foot ul li {
  display: inline;
  background-color: red;

}
