@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

nav {
  position:fixed;
  width:100%;
  height:75px;
  z-index: 10;
  background-color: $yellow;
  @include box-shadow(0 0 .4em 0 rgba(0, 0, 0, 0.5));
}

.header {
  width:100%;
  padding: 6px 2% 0 2%;
}

.header ul li {
  display: inline;
  float: left;
}

.header form{
  width: 100%;
  padding: 15px 0 0 0;
}

.header-post{
  width: 80%;
  height: 50px;
  color: $blue2;
  background-color: $teal1;
  border-top: 3px solid $purple1;
  border-left: 3px solid $purple1;
  font-size: 15px;
  cursor: text;
  z-index: 20;
  float: left;
}
.header-post:focus{
  background-color: $yellow;
  outline: none;
}

.header-post-btn{
  width:15%;
  height: 50px;
  color: $yellow;
  background-color: $blue2;
  border-color: $blue2;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}

.header-post-btn:hover{
  background-color: $blue2;
}

.header-post-box{
  width:100%;
}

.menu {
  float:right;
  padding: 11px 0 0 0;
  cursor: pointer;
  width: 40px;
  height: auto;
}

.mobile {
  float: left;
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: $yellow;

}

#toggle-menu {
  display: none;
}

.mobile section {
  position: relative;
  transition: all 0.25s ease-in-out;
  background-color: $yellow;
}

.mobile section label {
  cursor: pointer;
}

.sidenav {
  background: $blue2;
  width: 25%;
  position: fixed;
  margin-top: 75px;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.sidenav li {
  list-style-type: none;
  height: 75px;
  color: $white;
}

.sidenav a {
  color: $white;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -o-transform: translateX(15%);
  -ms-transform: translateX(15%);
  transform: translateX(15%);

}

.sidenav-logo {
  position:relative;
  width:60%;
  height: auto;
  padding: 25px 0 20px 0;
}

.sidenav-bug {
  position:relative;
  width:10%;
  height: auto;
  padding: 25px 0 0 0;
}

#toggle-menu:checked ~ section {
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -o-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
  }

#toggle-menu:checked ~ .sidenav a {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  }

.two-lines{
  padding: 18px 0 0 0;
}

.one-line{
  padding: 25px 0 0 0;
}

#search-bar{
  width:65%;
  height: 40px;
  background-color: $blue2;
  border-color: $white;
  color:$white;
  font-size: 15px;
  margin: 0;
  padding: 0 0 0 10px;
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder {
   color: $white;
}

::-moz-placeholder {
   color: $white;
}

:-ms-input-placeholder {
   color: $white;
}

input.search-btn{
  position:absolute;
  width:20%;
  height: 40px;
  background-color: $blue2;
  border-color: $white;
  color: $white;
  cursor: pointer;
  padding: 0 0 0 0;
}

.search-space{
  padding: 18px 0 0 0;
  margin: 0 50px 0 0;
}

.header-stryke{
  position: fixed;
  z-index:9;
  height:75px;
  background-color: $yellow;
  @include box-shadow(0 0 .4em 0 rgba(0, 0, 0, 0.5));
  opacity: .95;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  transition: .4s ease-in-out;

}

.upSlide{
  height:125px;
  padding: 30px 0 0 0;
  -webkit-transform: translate(0,75px);
  -moz-transform: translate(0,75px);
  -o-transform: translate(0,75px);
  -ms-transform: translate(0,75px);
  transform: translate(0,75px);

}

.spark-anywhere{
  padding: 10px 0 0 50%;
  cursor: pointer;
  width: 90px;
  height: auto;
  // float:right;
}

.stryke-con{
  width: 50%;
  margin: 0 auto;
}

.toggle-top-new{
  margin: 22px 0 0 0;
  text-decoration: none;
  font-weight: 600;
}

.header-logo{
  width:107px;
  height: auto;
}
@media screen and (max-width: 968px) {
    .spark-anywhere{
      width:55px;
      padding: 10px 0 0 20px;
    }
    .header .col-10-12{
      width:75%;
    }
    .sidenav{
      width:50%;
    }
    #toggle-menu:checked ~ section {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .stryke-con{
      width: 90%;
      padding: 0 0 0 40px;
    }
}

@media screen and (max-width: 600px) {
    .spark-anywhere{
      padding:8px 0 0 10px;
      width: 44px;
    }
    .header .col-10-12{
      width:50%;
    }
    .header .col-1-12{
      width:16%;
    }
    .sidenav{
      width:75%;
    }
    #toggle-menu:checked ~ section {
      -webkit-transform: translateX(-75%);
      -moz-transform: translateX(-75%);
      -o-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
      transform: translateX(-75%);
    }
    .sidenav-logo {
      display: none;
    }
    .sidenav li{
      height: 50px;
    }

    .search-space{
      padding: 5px 0 0 0;
    }
    .two-lines{
      padding: 5px 0 0 0;
    }

    .one-line{
      padding: 13px 0 0 0;
    }
}
