@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

nav {
  position:fixed;
  width:100%;
  height:75px;
  z-index: 10;
  background-color: $yellow;
  @include box-shadow(0 0 .4em 0 rgba(0, 0, 0, 0.5));
}

.header {
  width:100%;
  padding: 6px 2% 0 2%;
}

.header ul li {
  display: inline;
}

.menu {
  float:right;
  padding: 16px 0 0 0;
  cursor: pointer;
}

.mobile {
  float: left;
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: $yellow;

}

#toggle-menu {
  display: none;
}
.mobile section {
  position: relative;
  transition: all 0.25s ease-in-out;
}

.mobile section label {
  cursor: pointer;
}

.sidenav {
  background: $blue2;
  width: 25%;
  position: fixed;
  margin-top: 75px;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  // -webkit-box-shadow: inset 10px 0px 18px -7px rgba(0,0,0,0.5);
  // -moz-box-shadow: inset 10px 0px 18px -7px rgba(0,0,0,0.5);
  // box-shadow: inset 10px 0px 18px -7px rgba(0,0,0,0.5);
}

.sidenav li {
  list-style-type: none;
  // border-bottom: 1px solid $white;
  // padding: 25px 0 0 0;
  height: 75px;
  color: $white;
}

.sidenav a {
  color: $white;
  text-decoration: none;
  transform: translateX(15%);
  transition: all 0.25s ease-in-out;
}

.sidenav-logo {
  position:relative;
  padding: 25px 0 20px 0;

}

#toggle-menu:checked ~ section {
  transform: translateX(-25%);
}
#toggle-menu:checked ~ .sidenav a {
  transform: translateX(0);
}

#search-bar{
  width:65%;
  height: 30px;
  background-color: rgba(255,255,255,0);
  border-color: $white;
  color:$white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0;
  padding: 0 0 0 10px;
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}

:-ms-input-placeholder {
   color: $white;
}

input.search-btn{
  position:absolute;
  width:20%;
  height: 30px;
  background-color: rgba(255,255,255,0);
  border-color: $white;
  color: $white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  padding: 0 0 0 0;
}

.search-space{
  padding: 25px 0 0 0;
  margin: 0 50px 0 0;
}

.two-lines{
  margin:35px 0 0 0;
}

.one-line{
  padding: 25px 0 0 0;
}
