@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

nav {
  position:relative;
  width:100%;
  height:75px;
  z-index: 10;
  background-color: $lime;
  @include box-shadow(0 0 .4em 0 rgba(0, 0, 0, 0.5));
}

.header {
  width:100%;
  padding: 18px 2% 0 2%;
}

.header ul li {
  display: inline;
}

.menu {
  float:right;
  padding: 2px 0 0 0;
}

.mobile {
  float: left;
  position: relative;
  overflow: hidden;
}

#toggle-menu {
  display: none;
}
.mobile section {
  position: relative;
  transition: all 0.25s;
}
.mobile section label {
  cursor: pointer;
}

.sidenav {
  background: rgb(50, 60, 60); width: 150px;
  position: absolute; right: 0; top: 0; bottom: 0; padding-top: 100px;
}
.sidenav li {
  list-style-type: none;
  }

.sidenav a {
  color: white;
  text-decoration: none;
  transform: translateX(150px);
  transition: all 0.25s;
  }

#toggle-menu:checked ~ section {
  transform: translateX(-150px);
  }
#toggle-menu:checked ~ .sidenav a {
  transform: translateX(0);
  }
