// .grid {
//   margin: 0 auto;
//
//
//   &:after {
//     /* Or @extend clearfix */
//     content: "";
//     display: table;
//     clear: both;
//   }
// }
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.status-container{
  width: 100%;
  height: 100%;
  background-color: $yellow;
  background-image: url(logo-bg-10percent.png);


}

[class*='col-'] {
  float: left;
  .grid &:last-of-type {
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-6-12 {
  width: 50%;
}

.col-7-12 {
  width: 58.3%;
}

.col-8-12 {
  width: 66.6%;
}

.col-9-12{
  width: 75%;
}

.col-10-12{
  width: 83.33%;
}

.col-11-12{
  width: 91.66%;
}

.col-12-12 {
  width: 100%;
}

.clear {
  float:none;
}

.f-right {
  float:right;
}

.top {
  position:relative;
  background-color: $white;
  margin-top: 70px;
}

.top-status {
  padding: 10% 15% 10% 15%;
  position:inherit;
  border-style: solid;
  border-width: 5px;
  border-color: $yellow;
}


$topNum: 1;
$endNum: 20;
@for $item from 1 through $endNum {


  .top-status:nth-child(#{$topNum})  {
    background-color: $blue1;
    color: $white;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $blue2;
    color: $white;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $purple1;
    color: $white;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $purple2;
    color: $white;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $purple1;
    color: $white;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $blue2;
    color: $white;
    $topNum: $topNum + 1;
    $endNum: $endNum + 2;

  }

}

.new{
  background-color: $grey;
  margin-top: 70px;
  clear:both;

}

.stryke-sign{
  position: absolute;
  z-index:8;
  height: 110px;
  width: 175px;
  margin: 0 19%;
  background-color: $blue2;
  text-align: center;
  color: $white;
  border-style: solid;
  padding: 75px 0 0 0;
  border-width: 5px;
  border-color: $yellow;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  opacity:.95;
}

.stryke-sign-follow{
  position: absolute;
  z-index:8;
  height: 50px;
  width: 175px;
  margin: 0 19%;
  background-color: $blue2;
  text-align: center;
  color: $white;
  border-style: solid;
  padding: 5px 0 0 0;
  border-width: 5px;
  border-color: $yellow;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  opacity:.95;
}


.new-status {
  padding: 10% 15% 10% 15%;
  border-style: solid;
  border-width: 5px;
  border-color: $yellow;
}

$num: 1;
@for $item from 1 through $endNum{

  .new-status:nth-child(#{$num})  {
    background-color: $green1;
    color: $white;
    $num: $num + 1;
  }

  .new-status:nth-child(#{$num})  {
    background-color: $green2;
    color: $white;
    $num: $num + 1;

  }

  .new-status:nth-child(#{$num})  {
    background-color: $teal1;
    color: $white;
    $num: $num + 1;

  }

  .new-status:nth-child(#{$num})  {
    background-color: $teal2;
    color: $white;
    $num: $num + 1;
  }

  .new-status:nth-child(#{$num})  {
    background-color: $teal1;
    color: $white;
    $num: $num + 1;
  }

  .new-status:nth-child(#{$num})  {
    background-color: $green2;
    color: $white;
    $num: $num + 1;
  }
}

.spark-icon {
  height: 20px;
  width: 12px;
  margin: 1px 4px 0 0;
  cursor: pointer;
}

.sparked {
  background-color: yellow;
}

.sparks {
  position: absolute;
  float: left;
  z-index:1;
  margin-bottom: 1.5em;
}

.comment-sparks {
  margin-bottom: 1.5em;
}

.comment-sparks ul li {
  width:20px;
  margin: 0 0 20px 0;
  float:left;
}

.sparks ul li {
  width:20px;
  float:left;
}

.bg-no-status{
  width:100%;
  height: 1000px;
  background-color: $yellow;
}

@media screen and (max-width: 968px) {
    .hide {
      display: none;
    }
    .status-container .col-6-12{
      width: 100%;
    }
    .new-status {
      padding: 5% 10% 10% 10%;
    }
    .top-status {
      padding: 5% 10% 10% 10%;
    }
    .stryke-sign{
      margin: 0 40%;
    }
}

@media screen and (max-width: 600px) {
  .stryke-sign{
    margin: 0 25%;
  }
  .top{
    margin-top: 80px;
  }
  .new{
    margin-top: 80px;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.new img, .top img{
  width: 100%;
  height: auto;
}
