// .grid {
//   margin: 0 auto;
//
//
//   &:after {
//     /* Or @extend clearfix */
//     content: "";
//     display: table;
//     clear: both;
//   }
// }
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.status-container{
  width: 100%;
  height: 100%;
  // margin: 75px 0 0 0;
}

[class*='col-'] {
  float: left;
  .grid &:last-of-type {
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-6-12 {
  width: 50%;
}

.col-7-12 {
  width: 58.3%;
}

.col-8-12 {
  width: 66.6%;
}

.col-12-12 {
  width: 100%;
}

.clear {
  float:none;
}

.f-right {
  float:right;
}

.top {
  height: 1000px;
  background-color: $white;
  margin-top: 75px;
}

.top-status {
  padding: 10% 15% 18% 15%;
}

$topNum: 1;
$endNum: 20;
@for $item from 1 through $endNum {

  .comment-indi:nth-child(#{$topNum}){
    background-color: $red;
    color: $white;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $red;
    color: $white;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $beige;
    color: $black;
    $topNum: $topNum + 1;
  }

  .top-status:nth-child(#{$topNum})  {
    background-color: $peach;
    color: $black;
    $topNum: $topNum + 1;
    $endNum: $endNum + 2;
  }
}

.new{
  height: 1000px;
  background-color: $grey;
  margin-top: 75px;
}

.new-status {
  padding: 10% 15% 18% 15%;
}

$num: 1;
@for $item from 1 through $endNum{
  .comment-indi:nth-child(#{$num}){
    background-color: $red;
    color: $black;
  }
  .new-status:nth-child(#{$num})  {
    background-color: $grey;
    color: $black;
    $num: $num + 1;
  }

  .new-status:nth-child(#{$num})  {
    background-color: $lime;
    color: $black;
    $num: $num + 1;

  }

  .new-status:nth-child(#{$num})  {
    background-color: $white;
    color: $black;
    $num: $num + 1;

  }

  .new-status:nth-child(#{$num})  {
    background-color: $black;
    color: $white;
    $num: $num + 1;

  }
}

.spark-icon {
  height: 20px;
  width: 12px;
  margin: 1px 4px 0 0;
}

.sparked {
  background-color: yellow;
}

.sparks {
  position: absolute;
  float: left;
  z-index:1;
  margin-bottom: 1.5em;
}

.sparks ul li {
  width:20px;
  // margin: 0 0 0 11px;
  float:left;
}

.comments {
  float:right;
  text-align:right;
  width: 100%;
  cursor: pointer;
  // background-color:blue;
  position: relative;
  margin: .3em 0 1.5em 0;
}

.comments:focus{
  outline: 0;
}
.comment-indi{
  width:100%;
  background-color: blue;
}
