.search-container{
  height: 100%;
  width: 100%;
  padding: 75px 0 0 0;
  background-color: $green2;
  background-image: url(logo-bg.png);
}

.search-header{
  height: 110px;
  color: $white;
  opacity:0.4;
  background-color: $green2;
  font-size: 80px;
  padding: 10px 0 0 0;
  margin: 0 0 10px 5px;
  text-align: center;
}

.search-box{
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
}

.follower-con{
  width: 100%;
  height: 1000px;
  text-decoration: none;
}
.search-avatar{
  height:50px;
  width: 50px;
}

.search-txt{
  padding: 13px 0 0 0;
}
.result-container{
  width: 100%;
  text-align: left;
}

.result-individual{
  height: 100px;
  padding: 25px 0 0 20px;
  font-size: 20px;
}


$topNum: 1;
$endNum: 20;
@for $item from 1 through $endNum {


  .result-individual:nth-child(#{$topNum})  {
    background-color: $blue1;
    color: $white;
    $topNum: $topNum + 1;
  }

  .result-individual:nth-child(#{$topNum})  {
    background-color: $blue2;
    color: $white;
    $topNum: $topNum + 1;
  }

  .result-individual:nth-child(#{$topNum})  {
    background-color: $purple1;
    color: $white;
    $topNum: $topNum + 1;
  }

  .result-individual:nth-child(#{$topNum})  {
    background-color: $purple2;
    color: $white;
    $topNum: $topNum + 1;
  }

  .result-individual:nth-child(#{$topNum})  {
    background-color: $purple1;
    color: $white;
    $topNum: $topNum + 1;
  }

  .result-individual:nth-child(#{$topNum})  {
    background-color: $blue2;
    color: $white;
    $topNum: $topNum + 1;
    $endNum: $endNum + 2;

  }

}


@media screen and (max-width: 968px) {
  .result-individual{
    height: 300px;
    padding: 25px;
  }
  .result-individual [class*='col-']{
    float:none;
    width:100%;
    height:auto;
  }
  .search-header{
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .stryke-sign{
    margin: 0 25%;
  }
  .top{
    margin-top: 80px;
  }
  .new{
    margin-top: 80px;
  }
  .result-individual{
    height:350px;
  }
}
