.sign-container{
  height: 100%;
  width: 100%;
  padding: 15% 10% 25% 10%;
  background-color: $teal1;
  background-image: url(logo-bg.png);
}

.sign-box{
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.sign-logo{
  // width: 40%;
  margin: 0 auto;
  text-align: center;
}

.sign-log{
  width: 100%;
  text-align:left;
}

.sign-header{
  color: $white;
  margin: 0 0 10px 5px;
}

#user_email{
  width:100%;
  height: 30px;
  background-color: rgba(255,255,255,0);
  border-color: #94E6EC;
  border-radius: 20px;
  color: $white;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
}

#user_password{
  width:100%;
  height: 30px;
  background-color: rgba(255,255,255,0);
  border-color: #94E6EC;
  border-radius: 20px;
  margin: 0 0 15px 0;
  padding: 0 0 0 10px;
}

#user_password_confirmation{
  width:100%;
  height: 30px;
  background-color: rgba(255,255,255,0);
  border-color: #94E6EC;
  border-radius: 20px;
  margin: 10px 0 20px 0;
  padding: 0 0 0 10px;
}

.user_remember_me{
  // width: 78%;
  color: $white;
  margin: 0 0 10px 0;
  float:right;
}

.sign-up{
  margin: 40px 0 0 0;
  color: $white;
}

.hint{
  color: $white;
  margin: 0 0 10px 5px;

}
.btn.login-submit{
  color: $white;
  float: right;
}

a{
  color: $white;
}

a:visited{
  color: $white;
}

.login-submit{
  position:absolute;
  width:8%;
  height: 30px;
  background-color: $purple2;
  border-color: #94E6EC;
  border-radius: 20px;
  color: $white;
  // border-bottom-right-radius: 20px;
  cursor: pointer;
  padding: 0 0 0 0;
}
