.tutorial-container{
  height: 1100px;
  width: 100%;
  padding: 10% 10% 25% 10%;
  background-color: $green2;
  background-image: url(logo-bg.png);
  text-size: 40px;
}

.tutorial-box{
  width: 45%;
  margin: 0 auto;
  text-align: center;
  line-height: 3em;
}

.next-tut-box{
  margin: 0 auto;
}

input.next-tut{
  width:50%;
  height: 50px;
  color: $yellow;
  background-color: $blue2;
  border-color: $blue2;
  font-size: 15px;
  cursor: pointer;
}

input.next-tut:hover{
  background-color: $blue1;
  color:$yellow;
}
.tutorial-box [id*='user_'] {
  width:100%;
  height: 50px;
  background-color: $blue2;
  border-color: $blue2;
  // border-radius: 20px;
  font-size: 15px;
  color: $white;
  margin: 0 0 20px 0;
}

select{
  width:100%;
  height: 50px;
  background-color: $blue2;
  border-color: $blue2;
  border-radius: 0px;
  font-size: 15px;
  color: $white;
  margin: 0 0 20px 0;

}

select:focus{
  outline: none;
}

@media screen and (max-width: 968px) {
  .tutorial-box{
    width: 95%;
    margin-top: 50px;
    line-height: 2em;

  }
}

@media screen and (max-width: 600px) {
  .stryke-sign{
    margin: 0 25%;
  }
  .top{
    margin-top: 80px;
  }
  .new{
    margin-top: 80px;
  }
}
