html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

body {
  background-color: $white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  // color: $white;
}

p {
  margin-bottom: 1.5em;
  font-weight: 400;
}

h2 {
  margin-bottom: 1.5em;
  font-weight: 500;

}

strong {
  font-weight: 500;
}
