html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

body {
  background-color: $white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  // color: $white;
}
