*, *:before, *:after {
  box-sizing: border-box;
}
@import "jquery.Jcrop";
@import "TimeCircles";
@import "color";
@import "reset";
@import "header";
@import "footer";
@import "type";
@import "layout";
@import "comments";
@import "user";
@import "signinup";
@import "search";

/*.avatar {
  height: 161px;
  width: 161px;
}*/

.thumb {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  opacity: .8;
  margin:0 0 0 0;
  background-color: blue;
}

.spark-header{
  text-decoration: none;
  margin: 0 0 0 20px;
}

.spark-header-box{
  height:44px;
  padding:11px 0 0 0;
  margin: 0 0 8px 0;
}

a:visited{
  text-decoration: none;
  color: $white;
}
.alert-box{
  width: 300px;
  margin: 0 40%;
  z-index: 10;
  height: 40px;
  position: absolute;
}
.alert{
  top: 0;
  padding: 28px 0;
  z-index: 10;
  width: 330px;
  text-align: center;
  color: $teal1;
}

.back-to-top{
  position: fixed;
  z-index:11;
  bottom: 10px;
  right: 5px;
  color: $black;
  height: 40px;
  width: 40px;
  float:right;
  cursor: pointer;

}

a.back-to-top:visited{
  text-decoration: none;
  color: $black;
}

.toggle-top-new{
  color:$black;
  display: none;
}

a.toggle-top-new:visited{
  color:$black;
}

.main-con{
  height:100%;
  background-color: $yellow;
}

@media screen and (max-width: 968px) {
  .toggle-top-new{
    display: block;
  }
}
