*, *:before, *:after {
  box-sizing: border-box;
}
@import "jquery.Jcrop";
@import "color";
@import "reset";
@import "header";
@import "type";
@import "layout";



/*.avatar {
  height: 161px;
  width: 161px;
}*/
