*, *:before, *:after {
  box-sizing: border-box;
}
@import "color";
@import "reset";
@import "header";
@import "type";
@import "layout";



/*.avatar {
  height: 161px;
  width: 161px;
}*/

.thumb {
  height: 70px;
  width: 70px;
  border: 1px;
  border-radius: 100px;
}
